// CSS style sheet

header, form, nav {
	display: block;
}


header {
	display: inline-block;
	width: 100%;
	position: relative;
	background-color: #3366FF;
	vertical-align: middle;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
	color: white;
	line-height: 2;
	font-size: 55px;
}

nav {
    background-color: #3399FF;
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
}

nav ul {
    float: left;
    position: relative;
    left: 47%;
    list-style-type: none;
}

nav ul li {
    display: block;
    float: left;
    position: relative;
    right: 50%;
    color: white;
    line-height: 1.50;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

form {
	display: block;
	float: left;
    position: relative;
    left: 37%;
    list-style-type: none;
    padding-top: 50px;
}

.input {
	padding-top: 5%;
}

